ntp=false
ntp.pool=pool.ntp.org

network.id=1
node.key.path=/etc/radixdlt/node/secrets/node-keystore.ks
network.p2p.listen_port=30001
network.p2p.broadcast_port=30000
network.p2p.seed_nodes=radix://rn1q2jt0jswv3lpct8tavr5tvlg2kv25f26x7w8kf6dz2hp4pu9cwq4we9tm5f@13.238.198.54
network.host_ip=<node external ip address>
db.location=/data

api.port=3334

api.transactions.enable=false
api.sign.enable=true
api.bind.address=0.0.0.0
network.p2p.use_proxy_protocol=true